@tailwind base;
@tailwind components;
@tailwind utilities;

.sidebar-wrapper, .sidebar-wrapper.toggled, .sidebar-content, .sidebar-brand,
.toggled.sidebar-content, .toggled.sidebar-brand
{
    -webkit-transition: all 500ms ease;
    -moz-transition: all 500ms ease;
    -o-transition: all 500ms ease;
    transition: all 500ms ease;
}

.sidebar-wrapper.toggled  {
    @apply left-0
}

/* CHROME SCROLLBAR *START* */
/* width */
::-webkit-scrollbar {
    width: 3px;
}

/* Track */
::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px #c0ccda;
    border-radius: 15px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #9A9AFF;
    border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #7575f1;
}
/* CHROME SCROLLBAR *END* */

input:focus-within + label {
    @apply transform scale-y-75 -translate-y-6 tracking-tighter text-primary px-1 bg-gradient-to-t from-white to-transparent not-italic;
}

input:focus-within + label,
input:not(:placeholder-shown) + label {
    @apply transform scale-y-75 -translate-y-6 tracking-tighter text-primary px-1 bg-gradient-to-t from-white to-transparent not-italic;
}

input:focus-within + label {
    @apply text-primary;
}
